.card {
    margin: 20px;
}

.card-header {
    font-size: 25px;
    font-weight: bold;

}

.spacing-bottom {
    margin-bottom: 16px;
}

.spacing-left {
    margin-left: 16px;
}

.spacing-right {
    margin-right: 16px;
}

.space-between-container{
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;

}
